import type { IconProps } from "#/types";

export function {{pascalCase name}}({
  size = 24,
  color = "currentColor",
  title = "{{pascalCase name}}",
  ...props
}: IconProps) {
  return (
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width={size}
      height={size}
      viewBox="{{viewBox}}"
      fill="none"
      {...props}
    >
      <title>{title}</title>
      {{{svgInnerContent}}}
    </svg>
  );
}
